<div {attributes->f:format.raw()}>
	<style>
		.itoop-simpletable-table tbody td,
		.itoop-simpletable-table tbody th,
		.itoop-simpletable-table thead th {
			text-align: left;			
		}
	
		<f:if condition="{caRight}">
			<f:for each="{caRight}" as="car">
				.itoop-simpletable-table tbody td:nth-child({car}),
				.itoop-simpletable-table tbody th:nth-child({car}),
				.itoop-simpletable-table thead th:nth-child({car}) {
					text-align: right;
				}
			</f:for>
		</f:if>

		<f:if condition="{caCenter}">
			<f:for each="{caCenter}" as="cac">
				.itoop-simpletable-table tbody td:nth-child({cac}),
				.itoop-simpletable-table tbody th:nth-child({cac}),
				.itoop-simpletable-table thead th:nth-child({cac}) {
					text-align: center;
				}
			</f:for>
		</f:if>
	</style>
    	{table -> f:format.raw()}
</div>
